<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Alegreya:700|Libre+Franklin:400,700" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main_.css" />
</head>
<body>
    <div class="na-navbar hide-sm">
        <h1>
            <a href="/">navarjun</a>
        </h1>
        <ul class="nav-items-container">
            <!-- THIS IS THE NAVIGATION SYSTEM ON THE RIGHT, NEXT TO BRAND-IMAGE-->
            {% if page.nav == "about" %}
                <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/photography">Photography</a></li>
                <li class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></li>
            {% elsif page.nav == "projects" %}
                <li class="nav-item active"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/photography">Photography</a></li>
                <li class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></li>
            {% elsif page.nav == "blog" or layout.nav == "blog" %}
                <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item active"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/photography">Photography</a></li>
                <li class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></li>
            {% elsif page.nav == "photography" %}
                <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item active"><a class="nav-link" href="/photography">Photography</a></li>
                <li class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></li>
            {% elsif page.nav == "calligraphy" %}
                <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/photography">Photography</a></li>
                <li class="nav-item active"><a class="nav-link" href="/calligraphy">Calligraphy</a></li>
            {% endif %}
        </ul>
    </div>
    <h1 class="show-sm title-font text-center">
        <a class="dark-link" href="/">navarjun</a>
    </h1>
    <div class="na-navbar-sm show-sm">
        <div class="nav-items-container">
            <!-- THIS IS THE NAVIGATION SYSTEM ON THE RIGHT, NEXT TO BRAND-IMAGE-->
            {% if page.nav == "projects" %}
                <div class="nav-item active"><a class="nav-link" href="/projects">Projects</a></div>
                <div class="nav-item"><a class="nav-link" href="/blog">Blog</a></div>
                <div class="nav-item"><a class="nav-link" href="/photography">Photography</a></div>
                <div class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></div>
            {% elsif page.nav == "blog" or layout.nav == "blog" %}
                <div class="nav-item"><a class="nav-link" href="/projects">Projects</a></div>
                <div class="nav-item active"><a class="nav-link" href="/blog">Blog</a></div>
                <div class="nav-item"><a class="nav-link" href="/photography">Photography</a></div>
                <div class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></div>
            {% elsif page.nav == "photography" %}
                <div class="nav-item"><a class="nav-link" href="/projects">Projects</a></div>
                <div class="nav-item"><a class="nav-link" href="/blog">Blog</a></div>
                <div class="nav-item active"><a class="nav-link" href="/photography">Photography</a></div>
                <div class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></div>
            {% elsif page.nav == "calligraphy" %}
                <div class="nav-item"><a class="nav-link" href="/projects">Projects</a></div>
                <div class="nav-item"><a class="nav-link" href="/blog">Blog</a></div>
                <div class="nav-item"><a class="nav-link" href="/photography">Photography</a></div>
                <div class="nav-item active"><a class="nav-link" href="/calligraphy">Calligraphy</a></div>
            {% else %}
            <div class="nav-item"><a class="nav-link" href="/projects">Projects</a></div>
            <div class="nav-item"><a class="nav-link" href="/blog">Blog</a></div>
            <div class="nav-item"><a class="nav-link" href="/photography">Photography</a></div>
            <div class="nav-item"><a class="nav-link" href="/calligraphy">Calligraphy</a></div>
            {% endif %}
        </div>
    </div>
    <div id="website-container">
        {{ content }}
    </div>
</body>
</html>