---
layout: header
nav: "blog"
---

<div class="post-container">
    {% assign x = false %}
    {% for tag in post.tags %}
        {% if tag == "project" %}
        {% assign x = true %}
        {% endif %}
    {% endfor %}

    {% if x %}
        <link rel="stylesheet" href="/stylesheets/projects.css">
    {% else %}
        <link rel="stylesheet" href="/stylesheets/blog.css">
    {% endif %}
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>
