---
layout: header
title: navarjun | about
nav: none

---
<div id="index-container">
    <div class="about-description">
        <div class="title">
            <h1>Hello, <br/>I am Navarjun</h1>
        </div>
        <div class="details">
            <h2>
                I am a design technologist based in Vancouver, Canada.
            </h2>
            <p>
                I am currently freelancing as a UX designer, while looking for a full-time job in Canada.
            </p>
            <p>
                Checkout my <a class="inline-btn" href="{{site.env.SITE_ROOT}}/portfolio">design portfolio</a>.
            </p>
        </div>
    </div>
    <div class="about-nav">
        <a class="btn" href="{{site.env.SITE_ROOT}}/portfolio">
            Portfolio
        </a>
        <a class="btn" target="_blank" href="https://blog.navarjun.com/">
            Blog
        </a>
        <!-- <a class="btn" href="{{site.env.SITE_ROOT}}/photography">
            Photography
        </a>
        <a class="btn" href="{{site.env.SITE_ROOT}}/calligraphy">
            Calligraphy
        </a> -->
        <a class="btn" href="{{site.env.SITE_ROOT}}/about">
            About
        </a>
    </div>
</div>

<div class="circles-bg">
{% for counter in (0..50) %}
    <div class="circle-container">
        <div class="circle green"></div>
    </div>
{% endfor %}
{% for counter in (0..50) %}
    <div class="circle-container">
        <div class="circle yellow"></div>
    </div>
{% endfor %}
</div>