@import './v_2/vars.scss';

.about-container {
    width: 1140px;
    margin: auto;

    .title {
        font-family: $font-title;
        margin-top: 40px;
        padding-bottom: 15px;
        font-size: 36px;
        color: $color-theme;
    }

    .col-container {
        display: flex;
        flex-direction: row;
        margin: 0px -15px;
        @media screen and (max-width: $break-sm) {
            flex-wrap: wrap;
        }
        & > div {
            margin: 0px 15px;
            width: calc(33% - 30px);
            @media screen and (max-width: $break-sm) {
                width: calc(100% - 30px);
            }
        }
        .intro {
            .my-image {
                width: 100%;
            }
        }
        .border {
            padding: 15px 0px;
            border-top: 3px solid $color-blue;
            border-left: none;
            border-right: none;
            border-bottom: none;
        }
        .sub-title {
            font-weight: $font-heavy;
            margin: 0px;
            color: $color-theme;
        }
        .text {
            font-size: 16px;
            line-height: 25px;
        }
        .spacer {
            margin: 15px;
        }
        strong {
            font-size: 18px;
        }
    }

    @media screen and (max-width: $break-lg) {
        width: 950px;
    }
    @media screen and (max-width: $break-md) {
        width: 750px;
        .col-container {
            .text {
                font-size: 14px;
                line-height: 22px;
            }
            strong {
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: $break-sm) {
        width: calc(100% - 30px);
    }
}