@import './v_2/vars.scss';

#blog-container {
    width: 800px;
    margin: auto;
    margin-top: 45px;
    .title {
        font-family: $font-title;
        margin-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
        font-size: 36px;
        color: $color-theme;
        border-bottom: 3px solid $color-theme;
    }
    .blog-container {
        display: block;
        font-size: 20px;
        padding: 15px;
        margin-bottom: 30px;
        border: 1px solid transparent;
        box-shadow: -4px 4px 0px transparent;
        transition: all $transition-duration ease-in;

        blockquote {
            margin-left: 0px;
        }

        &:hover {
            // box-shadow: -4px 4px 0px $color-blue;
            // border: solid 1px $color-blue;
            background: rgba($color-blue, 0.05);
        }
        &:active {
            box-shadow: 0px 0px 0px $color-blue;
            border-color: $color-blue;
            transform: translate(-4px, 4px);
        }
    }

    .blog-a {
        color: $color-blue;
        text-decoration: none;
    }

    .publish-date {
        margin-bottom: 0px;
        color: $color-blue;
        opacity: 0.5;
        font-size: 14px;
        margin-top: 0px;
    }
    .blog-title {
        font-family: $font-title;
        font-weight: bold;
        font-size: 36px;
        margin-top: 0px;
        color: $color-theme;
        text-decoration: none;
        margin-bottom: 0px;
        transition: color $transition-duration ease-in;
    }
    .blog-excerpt {
        line-height: 34px;
        letter-spacing: 0.3;
    }

    @media screen and (max-width: $break-md) {
        width: 740px;
    }
    @media screen and (max-width: $break-sm) {
        width: calc(100% - 30px);
        .blog-container {
            margin-bottom: 24px;
        }
        .blog-title {
            font-size: 24px;
        }
        .blog-excerpt {
            font-size: 14px;
            line-height: 24px;
        }
    }
    @media screen and (max-width: $break-xs) {
        .blog-container {
            margin-bottom: 8px;
        }
    }
}