@import './v_2/vars.scss';

.shadow {
    box-shadow: -2px 2px 0px $color-blue;
}
.border {
    border: solid 1px $color-blue;
}
.bg {
    background: rgba($color-theme, 0.45);
}

a {
    color: $color-blue;
    text-decoration: none;
    text-decoration: none;
    border-bottom: solid 2px $color-theme;
    padding-bottom: 3px;
    background: linear-gradient(to top, #F7928B 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: left top;
    transition: all $transition-duration ease-in;
    &:hover {
        background-position: left bottom;
    }
}

.btn {
    padding: 8px;
    font-weight: $font-heavy;
    font-size: 16px;
    background: $color-background;
    box-shadow: -2px 2px 0px $color-blue;
    border: solid 1px $color-blue;
    cursor: pointer;
    text-decoration: none;
    color: $color-blue;
    display: inline-block;
    transition: all $transition-duration ease-in-out;
    &:hover {
        background: $color-theme;
        border-color: $color-blue;
    }
    &:active {
        box-shadow: none;
        transform: translate(-2px, 2px);
    }
}

.load-more-container {
    margin: 30px 0px;
    text-align: center;

    .load-more {
        padding: 10px;
        color: $color-darkgrey;
        font-size: 18px;
        cursor: pointer;
        display: inline;
        text-decoration: underline;
        transition: color $transition-duration ease-in;
        &:hover {
            color: $color-theme;
        }
        &.done {
            color: $color-theme;
            pointer-events: none;
            text-decoration: none;
            opacity: 0.7;
        }
    }
}

.paging {
    display: flex;
    margin: 30px 0px;
    text-align: center;
    justify-content: center;

    & > * {
        margin: 0px 15px;
    }

    a {
        text-decoration: none;
        color: $color-theme;
        &.disabled {
            color: $color-lightgrey;
            pointer-events: none;
        }
    }
}

.hide-sm {
    @media screen and (max-width: $break-sm) {
        display: none;
    }
}
.show-sm {
    @media screen and (min-width: $break-sm) {
        display: none;
    }
}

@media screen and (hover: hover) {
    .show-no-hover {
        display: none;
    }
}