---
---

@import './v_2/vars.scss';
@import './v_2/circles.scss';
@import './v_2/photo-viewer.scss';
@import './v_2/common.scss';

html, body {
    margin: 0px;
    padding: 0px;
    font-family: $font-body;
    font-weight: $font-light;
    color: $color-blue;
    background: $color-background;
    & > * {
        z-index: 2;
        position: relative;
    }
}
.text-small {
    font-size: 0.9em;
}
.text-bold {
    font-weight: $font-heavy;
}
.text-muted {
    color: $color-grey;
}

@import "./v_2/nav.scss";
@import './v_2/blog.scss';
@import './v_2/post.scss';
@import './v_2/photography.scss';
@import './v_2/about.scss';
@import './v_2/portfolio.scss';
@import './v_2/portfolio-post.scss';

#index-container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-description {
        display: flex;
        flex-direction: row-reverse;

        .title {
            width: 570px;
            h1 {
                font-family: $font-title;
                font-size: 90px;
                color: $color-theme;
                text-shadow: -4px 4px 0px $color-blue;
            }
        }
        .details {
            width: 496px;
            margin-right: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h2 {
            font-family: $font-title;
            color: $color-theme;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2;
        }

        @media screen and (max-width: $break-lg) {
            width: 900px;
            .title {
                width: 450px;
                h1 {
                    font-size: 60px;
                }
            }
            .details {
                width: 431px;
                margin-right: 30px;
            }
        }
        @media screen and (max-width: $break-md) {
            width: 736px;
            padding: 0px 24px;
            flex-direction: column;
            align-items: center;
            .title {
                width: 496px;
            }
            .details {
                width: 496px;
                margin-right: 0px;
            }
        }
        @media screen and (max-width: $break-sm) {
            width: 528px;
            padding: 0px 24px;
            flex-direction: column;
            align-items: left;
            .title {
                width: 400px;
            }
            .details {
                width: 400px;
                margin-right: 0px;
            }
        }
        @media screen and (max-width: $break-xs) {
            width: calc(100% - 30px);
            padding: 0px 15px;
            .title {
                width: 100%;
                margin-top: 40px;
            }
            .details {
                width: 100%;
                margin-right: 0px;
            }
        }
    }

    .about-nav {
        margin-top: 48px;
        a {
            margin: 0px 16px;
            margin-bottom: 16px;
        }
        @media screen and (max-width: $break-sm) {
            width: 400px;
            padding: 0px 24px;
            text-align: center;
            a {
                margin: 0px 8px;
                margin-bottom: 8px;
            }
        }
        @media screen and (max-width: $break-xs) {
            width: calc(100% - 30px);
            padding: 0px 15px;
            margin-bottom: 40px;
        }
    }
}
