@import "./v_2/vars.scss";

nav.nav {
  background: $color-lightgrey;
  height: 70px;
  box-shadow: 0px 0px 8px $color-lightgrey;
  z-index:10;

  div.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navContainer-fixed {
    @media screen and (max-width: $break-sm) {
      top: 0;
      width: 100%;
      height: 70px !important;
      overflow: hidden;
      z-index: 2;
      background-color: transparent;
    }
  }

  .nav-brand {
    height: 100%;
    background: transparent;
    float: left;
    transition: all 0.1s ease-in-out;
    padding: 0px 30px;

    &:hover {
      // background: $color-theme;
    }
    @media screen and (max-width: $break-sm) {
      padding: 0px 15px;
    }

    a {
      display: flex;
      text-decoration: none;
      font-family: $font-title;
      color: $color-theme;
      height: 100%;
      align-items: center;
      font-size: 28px;
      border-bottom: none;
      &:hover {
        background: transparent;
      }
    }
  }

  svg.nav-icon {
    fill: white;
    background: transparent;
  }

  .nav-list {
    margin: 0px 40px;
    list-style: none;
    height: 100%;
    display: flex;
    padding: 0px;
    justify-content: space-around;
    @media screen and (max-width: $break-sm) {
      position: fixed;
      margin: 0px;
      right: 0;
      width: 100%;
      height: calc(100vh - 70px);
      top: 70px;
      background-color: rgba($color-lightgrey, 0.8);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-lightgrey;
      transform: scale(0);
      //-webkit-transform: translateX(100%);
      //-moz-transform: translateX(100%);
      //-ms-transform: translateX(100%);
      //-o-transform: translateX(100%);
      //transform: translate(100%);
      transition: transform 0.4s ease-out;
    }

    li {
      display: flex;
      align-items: center;
      font-size: 18px;
      @media screen and (max-width: $break-sm) {
        opacity: 0;
        font-size: 32px;
        margin: 8px 4px;
      }

      a {
        text-decoration: none;
        transition: color $transition-duration ease-in;

        &:hover {
          color: $color-darkgrey;
        }
      }
    }

    li + li {
      margin-left: 15px;
    }

    li.active {
      a {
        background: $color-theme;
        box-shadow: none;
        transform: translate(-2px, 2px);
      }
    }
  }

  .burger {
    margin: 0px 30px;
    display: none;
    cursor: pointer;
    @media screen and (max-width: $break-sm) {
      display: block;
      margin: 0px 24px;
    }
    @media screen and (max-width: $break-xs) {
      margin: 10px 12px 0 12px;
    }

    div {
      width: 24px;
      height: 2px;
      background-color: $color-theme;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }

  .nav-social {
    margin: 0 32px 0 0;
    @media screen and (max-width: $break-sm) {
      margin: 0px 10px 0 0;
      flex: 1;
      text-align: right;
    }
    @media screen and (max-width: $break-xs) {
      margin: 10px 12px 0 12px;
    }
    a {
      background: none;
      border-bottom: none;
    }

    img {
      width: 32px;
      height: auto;
      max-height: 36px;
      margin-left: 18px;
      @media screen and (max-width: $break-sm) {
        width: 28px;
        height: auto;
        max-height: 32px;
        margin-left: 16px;
      }
    }

    .twitter {
      margin-bottom: 2px;
    }
  }

  .nav-active {
    transform: scale(1);
    //-webkit-transform: translateX(0%);
    //-moz-transform: translateX(0%);
    //-ms-transform: translateX(0%);
    //-o-transform: translateX(0%);
    //transform: translateX(0%);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-49deg) translate(-5px, 4px);
  -moz-transform: rotate(-49deg) translate(-5px, 4px);
  -ms-transform: rotate(-49deg) translate(-5px, 4px);
  -o-transform: rotate(-49deg) translate(-5px, 4px);
  transform: rotate(-49deg) translate(-5px, 4px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -moz-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  -o-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navListFade {
  from {
    opacity: 0;
    transform: scale(0.2);
    //-webkit-transform: translateX(50px);
    //-moz-transform: translateX(50px);
    //-ms-transform: translateX(50px);
    //-o-transform: translateX(50px);
    //transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    //-webkit-transform: translateX(0px);
    //-moz-transform: translateX(0px);
    //-ms-transform: translateX(0px);
    //-o-transform: translateX(0px);
    //transform: translateX(0px);
  }
}