@import './v_2/vars.scss';

#photography-container {
    .photography-list {
        display: flex;
        flex-wrap: wrap;
        padding: 8px;
        .photo-item {
            background: $color-lightgrey;
            margin-bottom: 10px;
            height: 30vh;
            flex-grow: 0;
            margin: 8px;
            transition: all $transition-duration ease-in-out;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
