@import './v_2/vars.scss';

// PHOTO VIEWER
.photo-viewer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: $color-darkgrey;
    z-index: 1000;
    display: none;
    visibility: hidden;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
    & > * {
        width: 90%;
    }
    .main-image-div {
        height: 90%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-content: space-between;
        & > * {
            height: 100%;
        }
        .main-image {
            display: flex;
            justify-content: center;
            align-items: center;
            .center-image {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .arrow {
            cursor: pointer;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.2em;
            transform: scaleY(2);
        }
        .left-arrow {
        }
        .right-arrow {
        }
    }
    .all-images {
        height: calc(10% - 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        .image-icon {
            flex: 1;
            height: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0.5;
            &.active {
                opacity: 1;
            }
        }
    }
    .close-button {
        position: fixed;
        z-index: 10;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        font-size: 50px;
        color: white;
        cursor: pointer;
    }
}