@import './v_2/vars.scss';

#portfolio-container {
    // width: 800px;
    margin: auto;
    margin: 0px 30px;
    margin-top: 45px;
    @media screen and (max-width: $break-sm) {
        width: calc(100% - 30px);
    }
    .title {
        font-family: $font-title;
        margin-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
        font-size: 36px;
        color: $color-theme;
        border-bottom: 3px solid $color-theme;
    }
    
    .portfolio-container {
        display: block;
        font-size: 20px;
        padding: 15px;
        border-bottom: 3px solid $color-lightgrey;
        margin: 60px 0px;
        box-shadow: -4px 4px 0px transparent;
        border: solid 1px transparent;

        blockquote {
            margin-left: 0px;
        }
    }

    .portfolio-a {
        color: $color-darkgrey;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        border: none;
        &:hover {
            background: none;
        }
    }
    .portfolio-a.reverse {
        flex-direction: row-reverse;
    }

    .portfolio-cover {
        width: 50%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
        }

        @media screen and (max-width: $break-sm) {
            min-height: auto;
            margin-bottom: 15px;
        }
    }

    .portfolio-details {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .publish-date {
        margin-bottom: 0px;
        color: $color-grey;
    }
    .publish-date {
        font-size: 16px;
    }
    .portfolio-title {
        font-family: $font-title;
        font-weight: bold;
        font-size: 36px;
        margin-top: 0px;
        color: $color-theme;
        text-decoration: none;
        margin-bottom: 0px;
        transition: color $transition-duration ease-in;
    }
    .portfolio-tags {
        padding: 4px 0px;
        margin-top: 4px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: rgba($color-theme, 0.7);
    }
    .portfolio-excerpt {
        line-height: 22px;
        letter-spacing: 0.3;
        font-size: 16px;
        color: $color-blue;
        max-width: 550px;
    }
    @media screen and (hover: hover) {
        .portfolio-container:hover {
            // box-shadow: -4px 4px 0px $color-blue;
            // border: solid 1px $color-blue;
            background: rgba($color-blue, 0.05);
            .portfolio-title {
                color: $color-theme;
            }
        }
    }

    @media screen and (max-width: $break-lg) {
        .portfolio-title {
            font-size: 24px;
        }
        .portfolio-excerpt {
            font-size: 14px;
            line-height: 21px;
            max-width: 450px;
        }
    }

    @media screen and (max-width: $break-sm) {
        & {
            margin: auto;
        }
        .portfolio-a {
            flex-direction: column;
        }
        .portfolio-a.reverse {
            flex-direction: column;
        }
        .portfolio-cover, .portfolio-details {
            width: auto;
        }
        .portfolio-title {
            font-size: 36px;
        }
        .portfolio-excerpt {
            font-size: 16px;
            line-height: 24px;
            max-width: 100%;
        }
    }
    @media screen and (max-width: $break-xs) {
        .portfolio-title {
            font-size: 24px;
        }
        .portfolio-excerpt {
            font-size: 14px;
            line-height: 21px;
            width: auto;
        }
    }
}