@import './v_2/vars.scss';
@import './v_2/common.scss';

.portfolio-post-container {
    width: 800px;
    margin: 72px auto;
    @media screen and (max-width: $break-sm) {
        width: calc(100% - 30px);
    }

    h1.title {
        margin-bottom: 0px;
    }
    .publish-date {
        color: $color-grey;
        margin-top: 0px;
    }

    h1 {
        font-family: $font-title;
        font-size: 48px;
        color: $color-theme;
    }
    h2 {
        font-family: $font-title;
        font-size: 28px;
        margin-top: 160px;
        color: $color-theme;
    }
    
    p, blockquote, li {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.3;
    }
    h3 {
        @extend p;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 72px;
    }
    blockquote {
        @extend .bg;
        border: 1px solid $color-theme;
        margin: 30px 0px;
        padding: 5px 30px;
        border-radius: 10px;
        font-weight: 400;
    }
    li {
        margin-top: 8px;
    }
    a {
        text-decoration: none;
    }
    img {
        width: 100%;
        margin: 0 auto;
    }
    div.spacer {
        height: 32px;
    }
    .attribution {
        font-size: 14px;
        line-height: 21px;
        opacity: 0.5;
        margin-top: 80px;
    }

    @media screen and (max-width: $break-md) {
        width: 750px;
    }
    @media screen and (max-width: $break-sm) {
        width: 500px;
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 20px;
            margin-top: 128px;
        }
        p, blockquote, li {
            font-size: 14px;
            line-height: 24px;
        }
    }
    @media screen and (max-width: $break-xs) {
        width: calc(100% - 30px);
        h2 {
            font-size: 20px;
            margin-top: 80px;
        }
    }
}

// COMPONENT CSS
.portfolio-post-container {
    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px -8px;
        .card {
            @extend .border;
            width: calc(33% - 48px);
            margin: 8px 8px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            
            .icon {
                text-align: center;
                img {
                    width: 50%;
                }
                img.bg {
                    background: rgba($color-theme, 0.5);
                }
                img.round {
                    border-radius: 50%;
                }
            }
            .text {
                text-align: center;
            }
            .title {
                h4 {
                    margin-bottom: 8px;
                }
            }
        }
    }

    .cards-container-2 {
        .card {
            width: calc(50% - 50px);
        }
    }

    @media screen and (max-width: $break-sm) {
        .cards-container .card {
            flex-direction: row;
            width: 100%;
            .icon {
                flex: 1;
                img {
                    width: 80%;
                }
            }
            .text {
                text-align: left;
                flex: 3;
                h4 {
                    margin: 0px;
                }
            }
        }
    }
}