@import './v_2/vars.scss';

.post-container {
    margin: 60px auto;
    width: 800px;

    h1.title {
        margin-bottom: 0px;
    }
    .publish-date {
        color: $color-grey;
        margin-top: 0px;
    }

    h1 {
        font-family: $font-title;
        font-size: 48px;
        color: $color-theme;
    }
    h2 {
        font-family: $font-title;
        font-size: 28px;
        margin-top: 45px;
    }
    
    p, blockquote, li {
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.3;
    }
    blockquote {
        border: 1px solid $color-theme;
        margin: 30px 0px;
        padding: 5px 30px;
        border-radius: 10px;
    }
    a {
        color: $color-theme;
        text-decoration: none;
    }
    img {
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width: $break-md) {
        width: 750px;
    }
    @media screen and (max-width: $break-sm) {
        width: 500px;
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 20px;
        }
        p, blockquote, li {
            font-size: 14px;
            line-height: 24px;
        }
    }
    @media screen and (max-width: $break-xs) {
        width: calc(100% - 30px);
    }
}