@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

$font-title: "Lato", sans-serif;
$font-body: "Lato", sans-serif;
$font-heavy: 900;
$font-light: 300;

$color-red: #dd3344;
$color-pink: #F7928B;
$color-theme: $color-pink;
$color-lightgrey: #F7F7F7;
$color-grey: #888;
$color-darkgrey: #333;
$color-background: $color-lightgrey;
$color-blue: #104573;

$transition-duration: 0.1s;

$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;