---
layout: header
title: navarjun | photography
nav: "photography"
paginate:
    collection: photography
    limit: false
    reversed: true
    permalink: photography/:num/
    per_page: 12
---

<div class="jumbotron jumbotron-fluid bg-transparent">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/photography.css" />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4"></h1>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>  
    </div>
</div>
<div class="row">
    <section id="photography-container" class="container hide-sm">
            <div class="photography-list">
                {% for photo in paginator.photography %}
                    <div class="photo-item" style="background: url('/photography/{{ photo.date | date: "%Y/%m/%d/" }}{{ photo.imageurl }}'); background-position: center;
                    background-size: cover;"
                    data-imgurl="/photography/{{ photo.date | date: "%Y/%m/%d/" }}{{ photo.imageurl }}">
                        <!-- <p class="text-muted">{{ photo.date | date_to_string }}</p> -->
                        <!-- <img src="{{ site.photographyHostingBaseUrl }}{{ photo.imageurl }}" alt=""/> -->
                    </div>
                {% endfor %}
            </div>
    </section>
    <section id="photography-container" class="container show-sm">
            <div class="photography-list-xs">
                {% for photo in paginator.photography %}
                    <div class="photo">
                        <!-- <p class="text-muted">{{ photo.date | date_to_string }}</p> -->
                        <img src="/photography/{{ photo.date | date: "%Y/%m/%d/" }}{{ photo.imageurl }}" alt=""/>
                    </div>
                {% endfor %}
            </div>
    </section>
    {% if paginator.total_pages > 1 %}
        <div class="col-xs-12 paging">
            {% if paginator.previous_page %}
                <a class="btn" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">< previous</a>
            {% else %}
                <a class="btn disabled" href="#">previous</a></previous>
            {% endif %}

            {% if paginator.next_page %}
                <a class="btn" href="{{ paginator.next_page_path | prepend: site.baseurl }}">next ></a>
            {% else %}
                <a class="btn disabled" href="#">next</a></previous>
            {% endif %}
        </div>
    {% endif %}
</div>

<div class="photo-viewer">
    <div class="main-image-div">
        <div class="arrow left-arrow">&lt;</div>
        <div class="main-image">
            <img src="/assets/images/pre-loader.gif" alt="" class="center-image">
        </div>
        <div class="arrow right-arrow">&gt;</div>
    </div>
    <div class="all-images">
    </div>
    <div class="close-button">&#10799;</div>
</div>

<script type="text/javascript" src="/assets/scripts/photo-viewer.js"></script>