---
layout: header
title: "navarjun | about"
nav: about
---

<div class="about-container">
    <h1 class="title">About Navarjun</h1>
    <div class="col-container">

        <div class="intro">
            <div class="border">
                <img class="my-image" src="{{site.env.SITE_ROOT}}/assets/images/about.jpeg"/>
            </div>
            <div class="border">
                <h2 class="sub-title">
                    Currently
                </h2>
                <p class="text">
                    I am a design technologist with 10+ years of experience working as a software engineer and a UX designer.
                    I am currently working as a design technologist at CER.
                </p>
            </div>
            <div class="border">
                <h2 class="sub-title">
                    Connect with me
                </h2>
                <p class="text">
                    I would love to get in touch with you amazing people out there.
                    You are welcome to use any of the following channels: 
                </p>
                <p class="text social">
                    Instagram: <a target="_blank" href="https://instagram.com/navarjun">@navarjun</a>
                    <br/>
                    E-mail: <a href="#">contact@navarjun.com</a>
                </p>
            </div>
        </div>

        <div class="education">
            <div class="border">
                <h2 class="sub-title">
                    Education
                </h2>
                <p class="text">
                    <strong>Master of Fine Arts</strong> <br/>
                    Information Design and Data Visualisation<br/> 
                    Northeastern University, Boston, MA, USA<br/>
                    <span class="text-small text-muted">Jan 2016 – Aug 2018</span>
                </p>
                <p class="text">
                    <strong>Bachelor of Engineering</strong> <br/>
                    Thapar University, Patiala, PB, India<br/> 
                    <span class="text-small text-muted">Jan 2016 – Aug 2018</span>
                </p>
            </div>
            <div class="border">
                <h2 class="sub-title">
                    Longer biography
                </h2>
                <p class="text">
                    I did my undergrad in Computer Engineering, and started a venture right out of university. The venture didn't take-off well, so I worked as an iOS Developer, iOS Lead, and Project Manager for about 3 years before finding my interest in design.
                </p>
                <div class="spacer"></div>
                <p class="text">
                    I pursued an MFA in Information Design at Northeastern University, Boston, MA. During the grad program I worked at the Health Informatics Lab (formally, CTPC) as a Research Designer/Developer for data visualisations.
                </p>
                <div class="spacer"></div>
                <p class="text">
                    After graduating I have worked as a Product Designer/Developer (mostly remote) with <a target="_blank" href="https://greatescape.co">Great Escape</a>, <a target="_blank" href="https://www.central1.com/">Central 1</a>, <a target="_blank" href="https://www.sfu.ca/">SFU</a> and <a target="_blank" href="https://www.cer-rec.gc.ca/en/index.html">CER</a>.
                </p>
                <p class="text">
                    Earlier, in 2019 while working remotely, I travelled around the Indian subcontinent. I used this travel year to improve my photography skills (an old interest). You can find these images on my instagram.
                </p>
            </div>
        </div>

        <div class="intro">
            <div class="border">
                <h2 class="sub-title">
                    Work Experience
                </h2>
                <p class="text">
                    <strong>Canada Energy Regulator</strong> <br/>
                    <span class="text-bold">Design Technologist | Vancouver, Canada</span><br/> 
                    Designing and developing data visualisations, internal tools and design system.<br/>
                    <span class="text-small text-muted">Nov 2022 – Present</span>
                </p>
                <p class="text">
                    <strong>SFU - ixLab</strong> <br/>
                    <span class="text-bold">Research Associate | Vancouver, Canada</span><br/> 
                    Designing and developing image based tool for exploratory visualisations.<br/>
                    <span class="text-small text-muted">Mar 2021 – Oct 2022</span>
                </p>
                <p class="text">
                    <strong>Central 1</strong> <br/>
                    <span class="text-bold">Design Technologist | Vancouver, Canada</span><br/> 
                    Worked in the software support team for supporting existing clients with required changes to their product.<br/>
                    <span class="text-small text-muted">Sep 2020 – March 2021</span>
                </p>
                <p class="text">
                    <strong>GreatEscape.co</strong> <br/>
                    <span class="text-bold">Product Designer | Remote</span><br/> 
                    Responsible for improving the user experience of a travel inspiration product.<br/>
                    <span class="text-small text-muted">May 2019 – Feb 2020</span>
                </p>
                <p class="text">
                    <strong>Consortium for Technology for Proactive Care</strong> <br/>
                    <span class="text-bold">Data Visualization Designer/Developer | Boston, MA</span> <br/> 
                    Designed and developed data visualisations involving realtime personal health data using JavaScript (D3, AWS Lambda). The visualisations are integrated within NUCoach system which is actively used to conduct health research.<br/>
                    <span class="text-small text-muted">Jan 2019 – Dec 2019</span>
                </p>
            </div>
            <div class="border">
                <h2 class="sub-title">
                    Complete Resume
                </h2>
                <p class="text">
                    You can take a look at <a target="_blank" href="{{site.env.SITE_ROOT}}/assets/Resume.pdf">my full resume here</a>.
                </p>
            </div>
        </div>

    </div>
</div>
