---
layout: header
title: navarjun | calligraphy
nav: "calligraphy"
paginate:
    collection: calligraphy
    limit: false
    reversed: true
    permalink: calligraphy/:num/
    per_page: 12
---

<section id="photography-container" class="container">
        <div class="photography-list masonry-with-columns">
            {% for photo in paginator.calligraphy %}
                <div class="photo-item">
                    <img src="{{site.env.SITE_ROOT}}/calligraphy/{{ photo.date | date: "%Y/%m/%d/" }}{{ photo.imageurl }}" alt=""/>
                </div>
            {% endfor %}
        </div>
</section>

<div class="load-more-container">
    <div class="load-more">Load more…</div>
</div>

<!-- <script type="text/javascript" src="/assets/scripts/photo-viewer.js"></script> -->
<script>
    window.onload = function() {

        const photoList = document.querySelector('.photography-list');
        let photoItems = [];
        let rows = [];
        let laidoutRows = 0, laidoutItems = 0;
        layout();

        function layout() {
            photoItems = Array.from(document.querySelectorAll('.photo-item'));
            // removeHeightConstraints();
            setTimeout(function(){
                detectRows();
                calculateNewLayout();
            }, 200);
        }

        function removeHeightConstraints() {
            photoItems.forEach(d => d.style.height='30vh');
        }

        function detectRows() {
            photoItems.forEach(d => {
                d.rect = d.getBoundingClientRect();
            });
            let currRow = [];
            let currY = photoItems[0].rect.y;
            for (let i = laidoutItems; i < photoItems.length; i++) {
                if (photoItems[i].rect.y !== currY) {
                    rows.push(currRow);
                    currRow = [photoItems[i]];
                    currY = photoItems[i].rect.y;
                } else {
                    currRow.push(photoItems[i]);
                }

                if (i === photoItems.length-1) {
                    rows.push(currRow);
                }
            }
            rows = rows.filter(d => d.length);
        }

        function calculateNewLayout() {
            let requiredWidth = photoList.getBoundingClientRect().width - 16 /*padding*/;
            for (let i = laidoutRows; i < rows.length; i++) {
                currRow = rows[i];
                let last = currRow.slice(-1)[0];
                let currWidth = currRow.reduce((a, ele) => ele.rect.width+a, 0) + 16*currRow.length;
                
                let currHeight = last.rect.height;
                let requiredHeight = Math.floor((currHeight/currWidth) * requiredWidth);

                currRow.forEach(d => {
                    d.style.height = (requiredHeight)+'px';
                });
            }
            laidoutRows = rows.length;
            laidoutItems = photoItems.length;
        }
        
        let siteRoot = "{{site.env.SITE_ROOT}}";
        let pagePath = "/calligraphy/info/page-2.json";
        let loadMore = document.querySelector('.load-more');

        loadMore.onclick = function() {
            fetch(siteRoot+pagePath)
                .then(response => response.json())
                .then(data => {
                    pagePath = data.nextPage;
                    let newElements = data.photos.map(d => fillTemplate(d));
                    
                    newElements.forEach(element => {
                        photoList.appendChild(element); 

                    });

                    if (+data.page === +data.totalPages) {
                        loadMore.innerHTML = 'That\'s all! Thanks for scrolling so much…'
                        loadMore.classList.add('done');
                    }

                    layout();
                });
        };

        function fillTemplate(obj) {
            let div = document.createElement('div');
            div.classList.add('photo-item');
            div.innerHTML = `
            <img src="{{site.env.SITE_ROOT}}${obj.imageUrl}" alt=""/>
            `;
            return div;
        }
    }
</script>
