---
layout: "header"
title: navarjun | blog
nav: "blog"
paginate:
    collection: blog
    reversed: true
    permalink: /:num/
---

<div class="container" id="blog-container">
    <h1 class="title show-sm">Blog</h1>
    {% for post in paginator.blog %}
            <div class="blog-container">
                <a class="blog-a" href="{{site.env.SITE_ROOT}}{{ post.url }}">
                    <p class="publish-date">
                        <span> {{ post.date | date_to_string }} </span>
                    </p>
                    <div class="blog-title">
                        {{ post.title }}
                    </div>
                    <div class="blog-excerpt">
                        {{ post.excerpt }}
                    </div>
                </a>
            </div>
    {% endfor %}
</div>
<div class="load-more-container">
    <div class="load-more">Load more…</div>
</div>
{% if paginator.total_pages > 1 %}
    <!-- <div class="col-xs-12 paging">
        {% if paginator.previous_page %}
            <a class="btn" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">< previous</a>
        {% else %}
            <a class="btn disabled" href="#">previous</a></previous>
        {% endif %}

        <div class="status">
            page {{paginator.page}} of {{paginator.total_pages}}
        </div>

        {% if paginator.next_page %}
            <a class="btn" href="{{ paginator.next_page_path | prepend: site.baseurl }}">next ></a>
        {% else %}
            <a class="btn disabled" href="#">next</a></previous>
        {% endif %}
    </div> -->
{% endif %}
<script>
    let siteRoot = "{{site.env.SITE_ROOT}}";
    let pagePath = "/blog/info/page-2.json";
    let loadMore = document.querySelector('.load-more');

    loadMore.onclick = function() {
        fetch(siteRoot+pagePath)
            .then(response => response.json())
            .then(data => {
                pagePath = data.nextPage;
                let newElements = data.blogs.map(d => fillTemplate(d));
                
                newElements.forEach(element => {
                    document.querySelector('#blog-container').appendChild(element); 
                });

                if (+data.page === +data.totalPages) {
                    loadMore.innerHTML = 'That\'s all! Thanks for scrolling so much…'
                    loadMore.classList.add('done');
                }
            });
    };

    function fillTemplate(obj) {
        let div = document.createElement('div');
        div.classList.add('blog-container');
        div.innerHTML = `
            <a class="blog-a" href="${obj.url}">
                <p class="publish-date">
                    <span> ${obj.date} </span>
                </p>
                <div class="blog-title">
                    ${obj.title}
                </div>
                <div class="blog-excerpt">
                    ${obj.excerpt}
                </div>
            </a>
        `;
        return div;
    }
</script>
