---
layout: "header"
title: navarjun | portfolio
nav: portfolio
paginate:
    collection: portfolio
    reversed: true
    permalink: /:num/
---

<div class="container" id="portfolio-container">
    {% for post in paginator.portfolio %}
            <div class="portfolio-container">
                <a class="{% cycle 'portfolio-a', 'portfolio-a reverse' %}" href="{{site.env.SITE_ROOT}}{{ post.url }}">
                    <div class="portfolio-cover">
                        <img src="{{site.env.SITE_ROOT}}/portfolio/{{post.date | date: '%Y/%m/%d/'}}{{post.title | slugify: 'latin'}}/{{post.cover}}"/>
                    </div>
                    <div class="portfolio-details">
                        <div class="portfolio-title">
                            {{ post.title }}
                        </div>
                        <div class="portfolio-tags">
                            {{ post.tags | join: ", " }}
                        </div>
                        <div class="portfolio-excerpt">
                            <p>{{ post.excerpt }}</p>
                        </div>
                        <div class="">
                            <div class="btn" href="#">Read case study</div>
                        </div>
                    </div>
                </a>
            </div>
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
    <div class="load-more-container">
        <div class="load-more">Load more…</div>
    </div>
    <!-- <div class="col-xs-12 paging">
        {% if paginator.previous_page %}
            <a class="btn" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">< previous</a>
        {% else %}
            <a class="btn disabled" href="#">previous</a></previous>
        {% endif %}

        <div class="status">
            page {{paginator.page}} of {{paginator.total_pages}}
        </div>

        {% if paginator.next_page %}
            <a class="btn" href="{{ paginator.next_page_path | prepend: site.baseurl }}">next ></a>
        {% else %}
            <a class="btn disabled" href="#">next</a></previous>
        {% endif %}
    </div> -->
{% endif %}
<script>
    let siteRoot = "{{site.env.SITE_ROOT}}";
    let pagePath = "/portfolio/info/page-2.json";
    let loadMore = document.querySelector('.load-more');

    loadMore.onclick = function() {
        fetch(siteRoot+pagePath)
            .then(response => response.json())
            .then(data => {
                pagePath = data.nextPage;
                let newElements = data.portfolios.map(d => fillTemplate(d));
                
                newElements.forEach(element => {
                    document.querySelector('#portfolio-container').appendChild(element); 
                });

                if (+data.page === +data.totalPages) {
                    loadMore.innerHTML = 'That\'s all! Thanks for scrolling so much…'
                    loadMore.classList.add('done');
                }
            });
    };

    function fillTemplate(obj) {
        let div = document.createElement('div');
        div.classList.add('portfolio-container');
        div.innerHTML = `
            <a class="portfolio-a" href="${obj.url}">
                <p class="publish-date">
                    <span> ${obj.date} </span>
                </p>
                <div class="portfolio-title">
                    ${obj.title}
                </div>
                <div class="portfolio-excerpt">
                    ${obj.excerpt}
                </div>
            </a>
        `;
        return div;
    }
</script>
