---
---

.na-navbar {
    // background: linear-gradient(
    //     rgba(0,0,0, 0.45), 
    //     rgba(0, 0, 0, 0)
    //   ), url('/assets/images/about-nav.jpg'); // My photo
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 50%;
    // color: white;
    // a {
    //     color: white;
    // }
}