---
---

.na-navbar {
    // background: linear-gradient(
    //     rgba(0,0,0, 0.8), 
    //     rgba(0, 0, 0, 0)
    //   ),url('/assets/images/calligraphy-nav.jpg');
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 50%;
}