---
---

$font-title: 'Alegreya';
$font-body: 'Libre Franklin', sans-serif;

$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$dark-color: rgb(33, 37, 41);
$light-color: #ccc;
$theme-color-transparent: rgba(0, 129, 112, 0.3);
$theme-color: rgb(0, 129, 112);

.font-title {
    font-family: $font-title;
    font-weight: 800;
}

a.link {
    color: $dark-color;
    border-bottom: 2px solid $theme-color;
    transition: 0.1s all;
    text-decoration: none;
    background-size: 120% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, $theme-color 50%);
    transition: background-position color 0.2s;
    &:hover {
        background-position: 0 100%;
        color: white;
    }
}

.bold {
    font-weight: 700;
}

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: $font-body, sans-serif;
    font-weight: 400;
}

h1, h2 {
    @extend .font-title;
    // font-family: $font-title, 'serif' !important;
    @media screen and (max-width: $break-sm) {
        font-size: 1.7em;
    }
}

nav {
    border-bottom: 1px solid $light-color;
    padding-bottom: 0px;
    border-color: $theme-color-transparent;
    ul.navbar-nav, a.navbar-brand {
        a {
            padding: 5px;
            transition: 0.1s all;
            @media screen and (max-width: $break-md) {
                text-align: center;
            }
            &.active {
                @extend .bold;
                @media screen and (min-width: $break-md){
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
            &:hover {
                background: none;
                @media screen and (min-width: $break-md){
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
            &.resume {
                background: $light-color;
                border-radius: 20px;
            }
        }
    }
}

#website-container {
    padding-top: 49px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#about-container {
    display: flex;
    height: 100vh;
    @media screen and (max-width: $break-xs) {
        display: block;
    }
    .about-photo {
        flex: 1;
        height: 100%;
        width: 50%;
        background: url('https://s3.amazonaws.com/navarjuncom/About/pic.JPG');
        background-size: cover;
        background-position-y: 100%;
        background-position-x: 50%;
        @media screen and (max-width: $break-sm) {
            width: 100%;
            height: 60%;
        }
    }
    .about-description {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        flex: 1;
        @media screen and (max-width: $break-sm) {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        div {
            flex: 1;
            margin-left: 10%;
            margin-right: 10%;
            h1 {
                font-family: $font-title, serif;
            }
            p.social {
                margin-bottom: 0px;
            }
        }
    }
}

#projects-container {
    div.project-container {
        height: 100vh;
        background: rgb(36, 35, 40);
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        @media screen and (max-width: $break-sm) {
            height: auto;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        div.project-card {
            color: white;
            height: 70%;
            max-width: 100%;
            position: relative;
            width: 1200px;
            @media screen and (max-width: $break-lg) {
                width: 800px;
            }
            @media screen and (max-width: $break-md) {
                width: 600px;
            }
            @media screen and (max-width: $break-sm) {
                width: 500px;
                height: auto;
            }
            @media screen and (max-width: $break-xs) {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
            div.image-container {
                height: 100%;
                float: left;
                @media screen and (max-width: $break-sm) {
                    float: none;
                    width: 100%;
                }
                img {
                    height: 100%;
                    max-width: 100%;
                    @media screen and (max-width: $break-sm) {
                        height: auto;
                        width: 100%;
                    }
                }
            }
            div.description-container {
                position: absolute;
                left: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                @media screen and (max-width: $break-sm) {
                    left: 0;
                    height: auto;
                    position: static;
                }
                a {
                    color: white;
                    text-decoration: none;
                }
                & > * {
                    background: rgba(36, 35, 40, 0.5);
                    padding: 15px;
                    margin-bottom: 0px;
                    transition: 0.3s all;
                    &:hover {
                        background: rgba(36, 35, 40, 0.7);
                    }
                }
                h1 {
                    font-family: $font-title;
                }
            }
        }
    }
}

#blog-container {
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
    a {
        color: $dark-color;
        &:hover {
            text-decoration: none;
        }
    }
    .blog-post-container {
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid $theme-color;
        transition: 0.3s all;
        &:hover {
            box-shadow: 0px 0px 15px $theme-color-transparent;
        }
    }
    p.publish-date {
        margin-bottom: 0px;
        color: #ccc !important;
    }
    p.tags {
        span {
            margin-right: 10px;
        }
    }
    img {
        margin-left: 10%;
        width: 80%;
    }
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    p.tags {
        span {
            margin-right: 10px;
        }
    } 
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & > p, & > blockquote {
        width: 800px;
        @media screen and (max-width: $break-md){
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }
        @media screen and (max-width: $break-sm){
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    p {
        font-size: 1.2em;
    }
    img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    blockquote {
        padding: 20px;
        padding-left: 10px;
        border-left: 10px solid $theme-color;
        // border-right: 10px solid $theme-color;
        // border-top: 10px solid $theme-color;
        // border-bottom: 10px solid $theme-color;
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            margin-bottom: 0px;
        }
    }
    a {
        @extend a.link;
    }
    strong {
        @extend .bold;
    }
}

div.paging {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    & > * {
        text-align: center;
        &:first-child {
            justify-content: right;
            align-items: center;
            text-align: right;
        }
        &:last-child {
            justify-content: left;
            align-items: center;
            text-align: left;
        }
    }
    div.status {
        color: $light-color;
    }
    a {
        color: $dark-color;
    }
    a.disabled {
        color: $light-color !important;
    }
}

#photography-container, #calligraphy-container {
    div {
        margin-bottom: 50px;
        text-align: center;
    }
    img {
        /* Just in case there are inline attributes */
        max-width: 80vh !important;
        max-height: 80vh !important;
        margin: 1px;
        @media screen and (max-width: $break-sm) {
            max-width: 100% !important;
            max-height: 100% !important;
        }
    }
}

// BOOTSTRAP OVERRIDE
.bg-light {
    background: white !important;
}
.badge-dark {
    background-color: $light-color;
}
.navbar-light .navbar-nav .nav-link.active {
    color: $theme-color;
}

// ANIMATION EFFECTS

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.badge-active {
    transition: transform 0.2s;
    &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}