---
---

@import "vars.scss";

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: $font-body;
    color: $med-color;
}

h1 {
    @extend .font-title;
    // font-family: $font-title, 'serif' !important;
    font-size: 2.2em;
    color: $theme-color;
    @media screen and (max-width: $break-sm) {
        font-size: 1.7em;
    }
}
h2{
    @extend .font-title;
    margin-bottom: 0.1em;
    @media screen and (max-width: $break-sm) {
    }
}
p {
    font-size: 1em;
    margin: 0px 0px 1.3em 0px;
    @media screen and (max-width: $break-sm) {
        font-size: 1.1em;
    }
}

.jumbotron {
    width: 600px;
    margin: auto;
    color: $light-color;
}

.copyright {
    color: $light-color;
    font-size: 0.7em;
}

#website-container {
    margin-left: 20%;
    top: 0;
    left: 0;
    min-height: 100vh;
    right: 0px;
    overflow-y: scroll;
    & > * {
        margin: auto;
        @media screen and (max-width: $break-xs) {
            margin: 3%;
        }
    }
    & > .photo-viewer {
        margin: 0px;
    }
    @media screen and (max-width: $break-xs) {
        margin-left: 0%;
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 30px;
    }
}

.na-navbar {
    width: 20%;
    position: fixed;
    height: 100%;
    color: $dark-color;
    // background: $light-color;
    box-shadow: inset -1px 0px 2px $light-color;
    font-family: $font-body;
    & > h1 > a {
        color: $light-color;
        opacity: 0.85;
        &:hover {
            opacity: 1;
        }
    }
    & > h1, & > p, & > ul {
        margin-top: 10%;
        margin-left: 10%;
    }
    ul.nav-items-container {
        list-style: none;
        padding: 0px;
        font-size: 1.2em;
        li {
            margin-bottom: 5px;
        }
    }

    .nav-item > a {
        display: inline;
        position: relative;
        overflow: hidden;
        margin-top: 5px;
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -1px;
            background: $theme-color;
            height: 1px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }
        &:hover:after {
            left: 0;
            right: auto;
            width: 100%;
        }
    }
    .nav-item.active {
        & > a {
            border-bottom: 1px solid $theme-color;
        }
    }
    a {
        color: $dark-color;
        text-decoration: none;
    }
}
.na-navbar-sm {
    position: fixed;
    bottom: 0px;
    z-index: 99;
    background: white;
    box-shadow: $light-color 0px 0px 2px 2px;
    width: 100%;
    .nav-items-container {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 5px;
        & > * {
            margin: auto;
        }
        .nav-link {
            @extend .dark-link;
        }
        .nav-item.active {
            font-size: 1.3em;
            border-bottom: 1px solid $theme-color;
        }
    }
}

#about-container {
    min-height: 100vh;
    max-width: 600px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.about-img {
    width: 100%;
    height: 30vh;
    background: url("/assets/images/about-nav.jpg");
    background-size: cover;
    background-position: 50% 70%;
    margin-bottom: 1.3em;
}

#blog-container {
    margin-top: 50px;
    max-width: 600px;
    .blog-post-container {
        @extend .post-container;
        margin-top: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        transition: 0.3s all;
        a {
            border: none;
            text-decoration: none;
            h1 {
                @media screen and (max-width: $break-md) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                margin-top: 0px;
            }
        }
    }
    p.publish-date {
        margin-bottom: 0px;
        color: $light-color;
    }
    p.tags {
        margin: 0px;
        span {
            margin-right: 10px;
        }
    }
    img {
        margin-left: 10%;
        width: 80%;
    }
}

.post-container {
    @extend .lr-padding;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    p.tags {
        span {
            margin-right: 10px;
        }
    }
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & > p, & > blockquote {
        @media screen and (max-width: $break-md){
            padding-left: 30px;
            padding-right: 30px;
        }
        @media screen and (max-width: $break-sm){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    blockquote {
        padding: 20px;
        padding-left: 5px;
        border-left: 5px solid $theme-color;
        // border-right: 10px solid $theme-color;
        // border-top: 10px solid $theme-color;
        // border-bottom: 10px solid $theme-color;
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            margin-bottom: 0px;
        }
    }
    p > a {
        @extend .link;
    }
    strong {
        @extend .bold;
    }
}

#photography-container, #calligraphy-container {
    max-width: 600px;
    margin: auto;
    div {
        // margin-bottom: 50px;
    }
    .photography-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        & > * {
            width: 33%;
            padding-top: 33%;
            margin-left: 2px;
            margin-bottom: 2px;
            @media screen and (max-width: $break-md) {
                width: 49.5%;
                padding-top: 49.5%;
            }
            // @media screen and (max-width: $break-sm) {
            //     width: 100%;
            //     padding-top: 100%;
            //     margin-left: 0px;
            // }
        }
    }
    img {
        /* Just in case there are inline attributes */
        max-width: 100%;
        margin: 1px;
        margin-top: 10px;
        // @media screen and (max-width: $break-sm) {
        //     max-width: 100% !important;
        //     max-height: 100% !important;
        // }
    }
    p.text-muted {
        margin-bottom: 0px;
        color: $theme-color;
    }
}

div.paging {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    & > * {
        text-align: center;
        &:first-child {
            justify-content: right;
            align-items: center;
            text-align: right;
        }
        &:last-child {
            justify-content: left;
            align-items: center;
            text-align: left;
        }
    }
    div.status {
        color: $light-color;
    }
    a {
        color: $dark-color;
    }
    a.disabled {
        color: $light-color !important;
    }
}

// ANIMATION EFFECTS

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.badge-active {
    transition: transform 0.2s;
    &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

// PHOTO VIEWER
.photo-viewer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: $dark-color;
    z-index: 1000;
    display: flex;
    visibility: hidden;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
    & > * {
        width: 90%;
    }
    .main-image-div {
        height: 90%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-content: space-between;
        & > * {
            height: 100%;
        }
        .main-image {
            display: flex;
            justify-content: center;
            align-items: center;
            .center-image {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .arrow {
            cursor: pointer;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.2em;
            transform: scaleY(2);
        }
        .left-arrow {
        }
        .right-arrow {
        }
    }
    .all-images {
        height: calc(10% - 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        .image-icon {
            flex: 1;
            height: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0.5;
            &.active {
                opacity: 1;
            }
        }
    }
    .close-button {
        position: fixed;
        z-index: 10;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        font-size: 50px;
        color: white;
        cursor: pointer;
    }
}