---
---

@import "vars.scss";

.na-navbar {
    // background: linear-gradient(
    //     rgba(0,0,0, 0.45), 
    //     rgba(0, 0, 0, 0)
    //   ), url('/assets/images/projects-nav.jpg');
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 50%;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    justify-content: center;

    .project-container {
        width: 45%;
        margin: 0px 15px 15px 0px;
        justify-content: center;
        align-items: center;
        display: flex;
        @media screen and (max-width: $break-sm) {
            width: 100%;
        }
        @media screen and (max-width: $break-md) {
            width: 70%;
        }
        & > a {
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
        .project-card {
            color: white;
            width: 100%;
            position: relative;
            max-width: 600px;
            .image-container {
                height: 100%;
                img {
                    width: 100%;
                    border: 1px solid #eee;
                }
            }
            .description-container {
                @media screen and (max-width: $break-md) {
                    color: $dark-color;
                    font-size: 0.8em;
                    h2 {
                        font-family: $font-body;
                        margin-bottom: 20px;
                    }
                }
                @media screen and (min-width: $break-md) {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    background: $theme-color;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 10;
                    opacity: 0;
                    transition: all 0.3s;
                    box-sizing: border-box;
                    display: flex;
                    color: white;
                }
                & > * {
                    @media screen and (max-width: $break-md) {
                        margin-top: 0px;
                    }
                    @media screen and (min-width: $break-md) {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
            &:hover {
                .description-container {
                    opacity: 1;
                }
            }
        }
    }
}