$font-title: 'Alegreya', serif;
$font-body: 'Libre Franklin', sans-serif;

$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$dark-color: rgb(33, 37, 41);
$med-color: #555;
$light-color: #ccc;
$theme-color-transparent: rgba(177,76,84, 0.3);
$theme-color: rgb(177,76,84);

.font-title {
    font-family: $font-title;
}
.link {
    color: $dark-color;
    border-bottom: 1px solid $theme-color;
    transition: 0.1s all;
    text-decoration: none;
    background-size: 120% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, $theme-color 50%);
    transition: background-position color 0.2s;
    &:hover {
        background-position: 0 100%;
        color: white;
    }
}
.dark-link {
    color: $dark-color;
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.title-font {
    font-family: $font-title;
}
.lr-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.btn {
    @extend .lr-padding;
}
.bold {
    font-weight: 700;
}
.pill {
    &::before {
        content: "#";
    }
    padding: 5px 5px 0px 0px;
    color: $light-color;
    height: 12px;
    border-radius: 12px;
}
.hide-sm {
    @media screen and (max-width: $break-xs) {
        display: none;
    }
}
.show-sm {
    @media screen and (min-width: $break-xs) {
        display: none;
    }
}