<nav class="nav">
    <div class="container">
        <div class="nav-brand">
            <a href="/">
                Navarjun
            </a>
        </div>
        <ul class="nav-list">
            {%- if include.nav == 'portfolio' -%}
                <li class="active"> <a class="btn" href="{{site.env.SITE_ROOT}}/portfolio">Portfolio</a> </li>
            {%- else -%}
                <li> <a class="btn" href="{{site.env.SITE_ROOT}}/portfolio">Portfolio</a> </li>
            {%- endif -%}

            {%- if include.nav == 'blog' -%}
                <li class="active"> <a class="btn" target="_blank" href="https://blog.navarjun.com/">Blog</a> </li>
            {%- else -%}
                <li> <a class="btn" target="_blank" href="https://blog.navarjun.com/">Blog</a> </li>
            {%- endif -%}

            <!-- {%- if include.nav == 'photography' -%}
                <li class="active"> <a class="btn" href="{{site.env.SITE_ROOT}}/photography">Photography</a> </li>
            {%- else -%}
                <li> <a class="btn" href="{{site.env.SITE_ROOT}}/photography">Photography</a> </li>
            {%- endif -%} -->

            <!-- {%- if include.nav == 'poetry' -%}
                <li class="active"> <a class="btn" href="{{site.env.SITE_ROOT}}/poetry">Poetry</a> </li>
            {%- else -%}
                <li> <a class="btn" href="{{site.env.SITE_ROOT}}/poetry">Poetry</a> </li>
            {%- endif -%} -->

            <!-- {%- if include.nav == 'calligraphy' -%}
                <li class="active"> <a class="btn" href="{{site.env.SITE_ROOT}}/calligraphy">Calligraphy</a> </li>
            {%- else -%}
                <li> <a class="btn" href="{{site.env.SITE_ROOT}}/calligraphy">Calligraphy</a> </li>
            {%- endif -%} -->

            {%- if include.nav == 'about' -%}
                <li class="active"> <a class="btn" href="{{site.env.SITE_ROOT}}/about">About</a> </li>
            {%- else -%}
                <li> <a class="btn" href="{{site.env.SITE_ROOT}}/about">About</a> </li>
            {%- endif -%}
        </ul>
        <div class="nav-social">
            <a target="_blank" href="https://instagram.com/navarjun">
               <img src="{{site.env.SITE_ROOT}}/assets/logo/insta.svg" alt="Instagram"/>
            </a>
            <!-- <a href="/">
                <img class="twitter" src="{{site.env.SITE_ROOT}}/assets/logo/twitter.png" alt="twitter"/>
            </a> -->
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</nav>
<script>
    const navSlide = ()=>{
        const burger = document.querySelector('.burger');
        const nav =  document.querySelector('.nav-list');
        const navLinks = document.querySelectorAll('.nav-list li');
        const navContainer = document.querySelector('.container');

        burger.addEventListener('click',()=>{

            nav.classList.toggle('nav-active');
            navContainer.classList.toggle('navContainer-fixed')

            navLinks.forEach((link,index)=>{
                if(link.style.animation){
                    link.style.animation = ''
                }
                else{
                    link.style.animation = `navListFade 0.5s ease forwards ${index / 7 + 0.2}s`;
                }
            });
            // burger animation
            burger.classList.toggle('toggle');
        });
    }
    navSlide();
</script>
