<html>
<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.env.SITE_ROOT}}/stylesheets/v_2/index.css">
</head>
<body>
    {%- if page.nav == "none" -%}
    {%- else -%}
        {%- if page.nav -%}
        {% include v_2/nav.html nav=page.nav %}
        {%- else -%}
            {% include v_2/nav.html nav=layout.nav %}
        {%- endif -%}
    {%- endif -%}
    {{content}}
</body>
</html>