---
layout: header
nav: portfolio
---

<div class="portfolio-post-container">
    <h1 class="title">
        {{ page.title }}
    </h1>
    <p class="publish-date">
        <span> {{ page.date | date_to_string }} </span>
    </p>
    <img src="{{site.env.SITE_ROOT}}/portfolio/{{page.date | date: '%Y/%m/%d/'}}{{page.title | slugify}}/{{page.cover}}"/>
    {{ content }}
</div>
