---
layout: header
nav: "blog"
---

<div class="post-container">
    <h1 class="title">
        {{ page.title }}
    </h1>
    <p class="publish-date">
        <span> {{ page.date | date_to_string }} </span>
    </p>
    {{ content }}
</div>
